.countriesPage {
  padding-top: 70px;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .myselect {
    height: 49px;
    width: 250px;
    font-size: 16px;
    box-shadow: 0 15px 10px -15px #111;
    background: transparent;
    outline: none;
    color: inherit;
    border: 1px solid darkgrey;
    border-radius: 10px;
    z-index: 4;
    padding: 10px;
  }

  &__countWrapper {
    position: relative;
  }

  .css-1s2u09g-control {
    background-color: transparent;
    min-height: 50px;
  }

  .css-1s2u09g-control:hover {
    min-height: 50px;
    width: 250px;
  }

  &__select {
    width: 100%;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__searchButtons {
    position: relative;
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    transition: .3s linear;
  }

  &__loadButton {
    margin: 50px 0 0 0;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    align-self: center;
    cursor: pointer;
    border: 1px solid darkgrey;
    background-color: transparent;
    transition: .3s linear;

    &:hover {
      background-color: darkgrey;
    }
  }

  .myselect__reset {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 13px;
    right: 24px;
    display: block;
    cursor: pointer;
  }

  .myselectSearch {
    right: 10px;
  }

  .myselect__resetImage {
    height: 27px;
    width: 27px;
  }

  &__countLabel {
    position: absolute;
    top: -25px;
    left: 10px;
    color: inherit;
    transition: .3s linear;
  }

  select:focus + label {
    position: absolute;
    top: -25px;
    left: 13px;
  }

  .selectRegion {
    position: relative;
  }

  .selectRegion__regionLabel {
    position: absolute;
    top: -25px;
    left: 10px;
    color: inherit;
    transition: .3s linear;
  }

  .css-1hb7zxy-IndicatorsContainer {
    background-color: inherit;
  }

  .css-1s2u09g-control {
    min-height: 50px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 15px 10px -15px #111;

    &:hover {
      min-height: 50px;
      border-radius: 10px;
      box-shadow: 0 15px 10px -15px #111;
    }
  }

  .css-1pahdxg-control {
    min-height: 50px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 15px 10px -15px #111;
  }

  .css-b62m3t-container {
    border-radius: 10px;
  }

  .css-26l3qy-menu {
    z-index: 5;
    position: absolute;
  }

  .css-1hb7zxy-IndicatorsContainer {
    border-radius: 10px;
  }

  &__searchLabel {
    position: absolute;
    top: 15px;
    left: 10px;
    color: inherit;
    transition: .3s linear;
  }

  &__search:not(:placeholder-shown) + &__searchLabel {
    top: -25px;
    color: inherit;
  }
}

.modal.isOpen {
  display: flex;
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px 10px;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}

.modalWrapper {
  border: 1px solid darkgrey;
  width: 90%;
  padding: 30px 10px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}
.countriesPage {
  .modalWrapper{
    .myselect,
    .css-1s2u09g-control:hover,
    .css-1s2u09g-control,
    .css-1pahdxg-control {
      width: 500px;
    }
  }
}


.modal__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;

  &:hover {
    & path {
      fill: black;
    }
  }
}

.closeModal path {
  fill: white;
  transition: .3s linear;
}

.openModal {
  width: 30px;
  height: 30px;
  display: none;
  align-self: flex-end;
  transition: .6s linear;

  &:hover {
    transform: rotate(90deg);
  }
}

.openModal.red{
  position: relative;
}

.openModal.red path{
 fill: red;
}

.openModal.red + div {
  &::after{
    content: '.';
    position: absolute;
    top: -40px;
    left: 85px;
    color: red;
    width: 30px;
    height: 30px;
    font-size: 50px;
    display: block;
  }
}

.setting{
  display: flex;
  align-self: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -30px;
  gap: 10px;
}

//

@media(max-width: 900px) {
  .countriesPage {
      .myselect,
      .css-1s2u09g-control:hover,
      .css-1s2u09g-control,
      .css-1pahdxg-control {
        width: 170px;
      }
  }
}

@media(max-width: 750px) {
  .countriesPage__select {
    display: none;
  }
  .openModal {
    display: block;
  }
}

@media(max-width: 600px) {
  .countriesPage {
    .modalWrapper{
      .myselect,
      .css-1s2u09g-control:hover,
      .css-1s2u09g-control,
      .css-1pahdxg-control {
        width: 400px;
      }
    }
  }
}

@media(max-width: 500px) {
  .countriesPage {
    .modalWrapper{
      .myselect,
      .css-1s2u09g-control:hover,
      .css-1s2u09g-control,
      .css-1pahdxg-control {
        width: 300px;
      }
    }
  }
}

@media(max-width: 400px) {
  .countriesPage {
    .modalWrapper{
      .myselect,
      .css-1s2u09g-control:hover,
      .css-1s2u09g-control,
      .css-1pahdxg-control {
        width: 200px;
      }
    }
  }
}


