.countriesPage {
  padding-top: 70px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  .myselect {
    height: 50px;
    width: 250px;
    padding: 0 10px;
    font-size: 16px;
    //border: none;
    box-shadow: 0 15px 10px -15px #111;
    background: transparent;
    outline: none;
    color: inherit;
    border: 1px solid darkgrey;
    border-radius: 10px;

    //appearance: none;       /* Remove default arrow */
    //background-image: url(...);   /* Add custom arrow */
  }

  &__select {
    width: 100%;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  &__searchButtons {
    position: relative;
  }

  //&__searchClose{
  //  width: 15px;
  //  height: 15px;
  //  position: absolute;
  //  right: 10px;
  //  top: 20px;
  //  cursor: pointer;
  //}

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background: url('../../assetes/img/resetButton.svg') no-repeat 50% 50%;
    background-size: contain;
    opacity: 1;
    cursor: pointer;
    transition: .3s linear;
  }


  &__loadButton {
    margin: 50px 0 0 0;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    align-self: center;
    cursor: pointer;
    border: 1px solid darkgrey;
    background-color: transparent;
    transition: .3s linear;
    &:hover{
      background-color: darkgrey;
    }
  }

  .myselect__form {
    position: relative;
  }

  .myselect__reset {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 13px;
    right: 24px;
    display: block;
    cursor: pointer;
  }


  .myselect__resetImage {
    height: 27px;
    width: 27px;
  }

  &__countLabel {
    position: absolute;
    top: 15px;
    left: 35px;
    color: inherit;
    transition: .3s linear;
  }

  select:focus + label {
    position: absolute;
    top: -20px;
    left: 13px;

  }

  .selectRegion__labelFirst {
    position: absolute;
    top: 15px;
    left: 13px;
    color: transparent;
    //z-index: -1;
    transition: top .3s linear;
  }
  .selectRegion__labelFirst:nth-child(2){
    color: inherit;
  }

  .selectRegion__label {
    position: absolute;
    top: -20px;
    left: 13px;
    color: inherit;
    transition: .3s linear;
  }

  .selectRegion:focus + label {
    top: -20px;
    left: 13px;

  }

  &__searchLabel {
    position: absolute;
    top: 15px;
    left: 10px;
    color: inherit;
    transition: .3s linear;
  }

  &__search:not(:placeholder-shown) + &__searchLabel {
    top: -20px;
    color: inherit;
  }

}